.price-before {
    text-decoration: line-through;
}
.is-color-shop{
    background-color: #fff8dd;
    border-radius: 25px;
    border: 15px;
    border-color: black;
}

.is-card-shop{
    border-radius: 10px;
    border-style: solid;
    border-color: #f03a5f;
}